---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
    <main>
        <h1>Welcome to Astro</h1>
        <p>
            <strong>Try changing the background color in<code>/src/layouts/Layout.astro</code> and watch the page reload.</strong>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
            ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
            nulla pariatur.
        </p>

        <p data-counter>0</p>
    </main>
</Layout>

<style>
    p {
        color: green;
    }
</style>

<script>
	// Keep track of a counter to make it obvious when javascript state has been reset
    let val = 0;
    const counterEl = document.querySelector('[data-counter]');
    window.setInterval(() => {
        val++;
        counterEl.textContent = String(val);
    }, 500);
</script>
